body{
	padding:0px;
	margin:0px;
	height: 100%
}

.top-bar{
	background-color:  #001f3f;
	height: 60px;
	box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.19);
}
	
.logo{
	position: relative;
	top: 5px;
	height: 50px;
	width: 200px;
}

.login_text{
	position: relative;
	color: white;
	font-size-adjust: 0.6;
	top: 2px;
}

.login_box{
	border: none;
}

.login_button{
	position: relative;
	top: 30px;
	left: -20px;
	color: white;
	background-color: #0074D9;
	border: none;
}

.bottom{
	height: 100%;
}

.signup_template{
	position: relative;
	top: 80px;
	width: 800px;
	height: 354px;
	background-color: white;
	box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.3);
}

.signup_template:hover{
	box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.5);	
}

#signup_template_2{
	position: absolute;
	left: 283px;
	top: 139px;
}

#signup_template_3{
	position: absolute;
	left: 283px;
	top: 139px;
}
.create_account_text{
	color: #001f3f;
	font-size: 40px;
	position: relative;
	top: 30px;
}

.create_account_text:hover{
	color: #0074D9;
}

.name_input_box{
	border: none;
	box-shadow: 0px 1px rgb(0,0,0,0.2);
	width: 70%;
	left: -10px;
}

.name_input_box::placeholder{
	position: relative; 
	font-size: 50px;
	font-size-adjust: 0.2;
	font-weight: bold;
}

.gender_text{
	font-size: 20px;
	font-weight: bold;
	color: #A9A9A9;
}

.gender_select_box{
	border: none;
	height: 30px;
	margin-left: 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.select_arrow{
	border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.reset_button{
	border-radius: 20px;
	border: none;
	background-color:  #0074D9;
	color: white;
	height: 40px;
	width: 100px;
	margin-left: 100px;
	margin-top: 10px;
}


.reset_button:hover{
	background-color:  #001f3f;
}

.next_button{
	border-radius: 20px;
	border: none;
	background-color:  #0074D9;
	color: white;
	height: 40px;
	width: 100px;
	margin-left: 10px;
}

.next_button:hover{
	background-color:  #001f3f;
}

.next_button:disabled{
	border-radius: 20px;
	border: none;
	color: white;
	height: 40px;
	width: 100px;
	margin-left: 10px;
	background: #111111;
}

.small_dot_button{
	height: 20px;
    width: 20px;
    background-color:  #001f3f;
    border-radius: 50%;
    display: inline-block;
    border: none;
    margin-left: 10px;
    position: relative;
    top: 15px;
    left: 150px;
}

.error{
	margin-top: 10px;
	color: #FF4136;
}

.drop.down-arrow{
    pointer-events: none;
}
