body{
	padding:0px;
	margin:0px;
	}

.top-bar{
  background-color: #001f3f;
  padding:0px;
  margin:0px;
  top: 0px;
  width: 110%;
  height: 60px;
  position: fixed;
  z-index: 1;
  left: 0px;
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.19);
}

.logo-image{
  position: relative;
  left: 10px;
  height: 50px;
  width: 200px;
  top: 5px;
}

.search-bar{
  height: 29px;
  width: 400px;
  border-radius: 2px;
  border: none;
  position: relative;
  top: 15px;
}

.search_icon{
  background-color: white;
  border-radius: 0px 2px 2px 0px;
  border: none;
  position: relative;
  width: 29px;
  top: 14px;
  left: -5px;
}

.navbar_title{
  color: white;
  font-size: 16px;
  transform: skew(50deg);
  position: relative;
  top: -5px;
}

.dropdown_display{
  position: relative;
  left: -100px;
  height: 50px;
  width: 150px;
}


.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
 }

.dropdown_menu_hover{
  position: relative;
  margin-top: 10px;
  height: 40px;
  transform: skew(-20deg);
}

.dropdown_menu_hover:hover{
  background-color: #0074D9 !important;
}

.top_bar_2{
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.19);
  height: 40px;
  position: fixed relative;
  z-index: 2;
  margin-top: 60px;
}

.bottom{
}


.shifting{
  position: relative;
  left: -20px;
}

.template_1{
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.19);
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
  height: 300px;
  width: 99%;
  background-color: white;
  position: relative;
  top: 50px;
  left: 20px;
  margin-bottom: 10px;
}

.template_1_products{
  max-width: 100%;
  position: center;
}

.view_offers{
  font-size: 30px;
  font-size-adjust: 0.6;
  color: #001f3f;
  position: relative;
  top: 80px;
  left: 50px;

}

.arrow{
  background-color: white;
  height: 100px;
  width: 50px;
  position: relative;
  left: 30px;
  top: 80px;
}

.left_arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  left: 20px;
  top: 40px;
  transform: rotate(135deg);
  width: 30px;
  height: 30px;
}

.right_arrow{
  border: solid black;
  border-width: 0px 3px 3px 0px;
  display: inline-block;
  padding: 3px;
  position: relative;
  left: 20px;
  top: 40px;
  transform: rotate(-45deg);
  width: 30px;
  height: 30px;
}

.button_view_all{
  position: relative;
  top: 100px;
  left: 80px;
  background-color: #0074D9;
  border-radius: 2px;
  border: none; 
  height: 30px;
  width: 100px;
  color: white;
}

.product{
  max-width: 100%;
  max-height: 90%;
}

.product_text{
  color: black;
}

.product_text:hover{
  color: #0074D9;
}
