body{
	padding:0px;
	margin:0px;
	}

.top{
  overflow: hidden;
	background: #001f3f;
}

.logo-image{
	height: 70px;
	}
	
.select-box{
  border: none;
  height: 35px;
  position: relative;
  top: 0px;
  left: 85px;
  -moz-appearance: none;
  background:  #e6e2d3;
  }
  

.search-bar{
  border: none;
  height: 35px;
  width: 450px;
  position: relative;
  top: 0px;
  left: 80px;
  }
  
.search-icon{
  position: relative;
  top: 0px;
  left: 50px;
  height: 20px;
  }
  
.column{
  float: left;
  /*background: red;*/
  width: 33.33%;
  }

.row:after{
   content: "";
   display: table;
   clear: both;
  }
  
.first_template{
  background-image: url("http://localhost/gym/images/image1.jpeg");
  background-size: cover;
	background-repeat: no-repeat;
	height:100%;
	width: 105%;
	position: relative;
	overflow: hidden;
  }
  
.arrow_left_container{
   background: transparent;
   width: 50px;
   height: 100px;
   position: relative;
   left: 0px;
   top: 100px;
  }
  
.arrow_right_container{
   background: transparent;
   width: 50px;
   height: 100px;
   position: relative;
   left: 1310px;
  }
  
.arrow_left{
  border: solid white;
  width: 50px;
  height: 50px;
  border-width: 0 3px 3px 0;
  position: relative;
  left: 20px;
  transform: rotate(135deg);
  display: inline-block;
  padding: 3px;
  }
  
.arrow_right{
  border: solid white;
  width: 50px;
  height: 50px;
  border-width: 0 3px 3px 0;
  position: relative;
  left: -25px;
  transform: rotate(-45deg);
  display: inline-block;
  padding: 3px;
  }
