body{
	background-image: url("http://localhost/gym/images/physiotherapy-595529.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 90%;
	width: 105%;
	
	}

.top{
	overflow: hidden;
	margin-bottom: 100px;
	margin-left: 950px;
	}

.home-button{
	border: none;
	transform: skew(-20deg);
	width: 100px; 
	height: 50px;
	background: transparent;
	color: #FFFF;
	font-weight: bold;
	margin-left: 5px;
	}

.home-button:hover{
	background: #0074D9;
	}

.sign{
	font-family: SourceSansPro-Bold;
	font-size: 25px;
	color: #4b2354;
	line-height: 1.2;
	text-align: center;
	transform: scale(1, 1);
	font-weight: bold;
	margin-top: 18px;
	margin-bottom: 20px;
	}
		
.login-form {
	border-radius: 25px;
	border: 2px solid #FFF;
	padding: 20px; 
	width: 200px;
	height: 250px; 
	background: rgba(255,255,255);
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	margin-left: 500px;
	}
		
.login-box {
	border: 2px solid #FFF;
	padding: 20px; 
	width: 200px;
	height: 20px;    
	border-radius: 20px;
	box-shadow: 0.5px 0.5px 1px 1px #ccc;
	background: transparent;
  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);  	
  margin-bottom: 20px;		
	}

input::placeholder{
	font-family: SourceSansPro-Bold;
	font-size: 16px;
	color: #4b2354; 
	}
		
.submit{
	background-color: #001f3f;
	border: none;		
	color: white;
	width: 160px;
	padding: 18px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 6px 20px;
	border-radius: 50px;
	cursor: pointer;	
	-webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);  	
	}

.submit:hover{
	background-color: #0074D9;
	}

.invalid-login-box {
	border: 2px solid #FFF;
	padding: 20px; 
	width: 200px;
	height: 20px;    
	border-radius: 20px;
	box-shadow: 0.5px 0.5px 1px 1px #ccc;
	background: transparent;
  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);  	
  margin-bottom: 20px;
  color: red;		
	}

.invalid-sign{
	font-family: SourceSansPro-Bold;
	font-size: 25px;
	color: #FF4136;
	line-height: 1.2;
	text-align: center;
	transform: scale(1, 1);
	font-weight: bold;
	margin-top: 18px;
	margin-bottom: 20px;
	}


.invalid-login-box::placeholder{
	font-family: SourceSansPro-Bold;
	font-size: 16px;
	color: red; 
	}
	
